.btnstyle{
  width: 150px;
}

.labels{
  height: 46px;
  font-size: 24px;
  padding: 10px 0px;
  text-align: center;
}

.q{
  height: 46px;
  font-size: 24px;
  padding: 10px 0px;
}

table{
  font-size: 18px;
}

.lmao{
  text-align: center;
}
