<!DOCTYPE html>
{% extends 'restaurant/base.html' %}
{% block body_block %}

  <h2 class="lmao">You Can Order Here:</h2>
  <br>

  <!-- FOOD ITEMS -->

  <h3>Food Items</h3><br>

  {% for item in food_items %}
  <div class="row">
    <div class="col-md-1 col-xs-1">
        <p class="q">1.</p>
    </div>
    <div class="col-md-3 col-xs-3">
      <button type="button" onclick="increment('{{ item.name }}_qty')" class="btn btn-default btn-lg btnstyle btn-primary" name="{{ item.name }}">{{ item.name }}</button>
    </div>
    <div class="col-md-2 col-xs-2">
      <label class="labels" for="{{ item.name }}">${{item.price}}</label>
    </div>
    <div class="col-md-6 col-xs-6">
      <p class="q">Quantity you've ordered: <span class="zero" id="{{ item.name }}_qty">0</span></p>
    </div>
  </div>
  {% endfor %}

  <!-- DRINK ITEMS -->

  <h3>Drink Items</h3><br>

  {% for item in drink_items %}
  <div class="row">
    <div class="col-md-1 col-xs-1">
      <p class="q">1.</p>
    </div>
    <div class="col-md-3 col-xs-3">
      <button type="button" onclick="increment('{{ item.name }}_qty')" class="btn btn-default btn-lg btnstyle btn-primary" name="{{ item.name }}">{{ item.name }}</button>
    </div>
    <div class="col-md-2 col-xs-2">
      <label class="labels" for="{{ item.name }}">${{ item.price }}</label>
    </div>
    <div class="col-md-6 col-xs-6">
      <p class="q">Quantity you've ordered: <span class="zero" id="{{ item.name }}_qty">0</span></p>
    </div>
  </div>
  {% endfor %}

  <br><br>

  <!-- RESET BUTTON -->
  <button type="button" onclick="zero()" class="btn btn-default btn-lg btn-primary btn-block col-md-12 " name="reset">RESET</button>

  <br><br><br><br>

  <!-- TABLES -->

  <h3>Tables</h3><br>

  <table class="table table-bordered table-hover">
    <thead>
      <th>Table Size</th>
      <th>Number of Tables</th>
      <th>Table Numbers</th>
    </thead>
    <tr>
      <td>2 Seater</td>
      <td>{{ seats_2|length }}</td>
      <td>
        | {% for table in seats_2 %}
            {% if table.is_occupied %}
              <span style="color:red;">{{ table.table_num }} </span>|
            {% else %}
              <span style="color:#5cb85c;">{{ table.table_num }} </span>|
            {% endif %}
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>4 Seater</td>
      <td>{{ seats_4|length }}</td>
      <td>
        | {% for table in seats_4 %}
            {% if table.is_occupied %}
              <span style="color:red;">{{ table.table_num }} </span>|
            {% else %}
              <span style="color:#5cb85c;">{{ table.table_num }} </span>|
            {% endif %}
          {% endfor %}
      </td>
    </tr>
    <tr>
      <td>10 Seater</td>
      <td>{{ seats_10|length }}</td>
      <td>
        | {% for table in seats_10 %}
            {% if table.is_occupied %}
              <span style="color:red;">{{ table.table_num }} </span>|
            {% else %}
              <span style="color:#5cb85c;">{{ table.table_num }} </span>|
            {% endif %}
          {% endfor %}
      </td>
    </tr>
  </table>

  <br>

  <div class="form-group">
    <label for="tablenum" class="labels">Is there any specific table you'd like?</label><br>
    <input id="input_table_num" type="number" name="tablenum" class="form-control" placeholder="1-9" max="9" min="1">
  </div>

  <br><br>

  <!-- PLACE ORDER -->

  <div class="form-group">
    <input onclick="submit_form()" class="btn btn-default btn-lg btn-success btn-block" name="placeorder" value="Place Order">
  </div>

  <form type="hidden"id="main" action="{% url 'order' %}" method="POST">
    {% csrf_token %}
    {% for itm in food_items %}
    <input type="hidden" name="{{ itm.name }}_qnty" id="{{ itm.name }}_qnty" value="">
    {% endfor %}
    {% for itm in drink_items %}
    <input type="hidden" name="{{ itm.name }}_qnty" id="{{ itm.name }}_qnty" value="">
    {% endfor %}
    <input type="hidden" name="table_number" id="table_number" value="">
  </form>



  <br><br><br><br><br><br>
  <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    function increment(id_name){
      span = document.getElementById(id_name)
      current = parseInt(span.textContent)
      span.textContent = current + 1
    }

    function zero() {
      all_qty = document.getElementsByClassName('zero')
      for (var i = 0; i < all_qty.length; i++) {
        all_qty[i].textContent = "0"
      }
    }
    function submit_form() {
      document.getElementById('Pizza_qnty').value = document.getElementById('Pizza_qty').textContent
      document.getElementById('Burger_qnty').value = document.getElementById('Burger_qty').textContent
      document.getElementById('Noodles_qnty').value = document.getElementById('Noodles_qty').textContent
      document.getElementById('Coffee_qnty').value = document.getElementById('Coffee_qty').textContent
      document.getElementById('Tea_qnty').value = document.getElementById('Tea_qty').textContent
      document.getElementById('Juice_qnty').value = document.getElementById('Juice_qty').textContent
      document.getElementById('table_number').value = document.getElementById('input_table_num').value
      document.getElementById('main').submit()

    }

  </script>
{% endblock %}
